<div id="zen">
  <span id="zero">&ndash; 0 &ndash;</span>
  <p><%= t('partials.zen.rss_zero').html_safe %></p>
  <p>
    <small>
      <%= t('partials.zen.gtfo') %> <span id="gtfo"><%= t('partials.zen.go_make') %></span>.
    </small>
  </p>
  <p class="view-all">
    <%= link_to t('partials.zen.archive'), archive_index_path %>
  </p>
</div>
